@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root{
	--blue: #155e75;
	--text-color: #083344;
	--background:#a5f3fc;
	--background-won:#09909f;
}

*{
	box-sizing: border-box;
	color: var(--text-color);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 960px;
	margin: auto;
	font-family: 'Quicksand', sans-serif;
	background-color: var(--background);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	font-weight: 700;
	margin-top: 20px;
}

main {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

footer {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-weight: bold;
}

.gamebox {
	box-shadow: 2px 2px 30px grey;
	border-radius: 10px;
	height: 500px;
	width: 500px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 5px;
	height: 100%;
	padding: 5px;
	border-radius: 10px;
	background-color: var(--blue);
}

.playbtn {
	border: none;
	cursor: pointer;
	border-radius: 10px;
	font-size: 5rem;
	font-weight: 700;
}

.playbtn,
.playbtn:disabled {
	background-color: white;
}

.playbtn:hover {
	filter: brightness(90%);
	transition: 0.2s ease-in-out;
}

.restart{
	cursor: pointer;
	margin: 20px;
	padding: 10px;
	border-color: var(--blue);
	border-radius: 10px;
	font-weight: 500;
}

.restart:hover {
	filter: brightness(90%);
	transition: 0.2s ease-in-out;
}

.gridTop {
	margin:10px;
	font-size: 1.5rem;
	font-weight: 600;
}